@import url("https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::after,
::before {
  box-sizing: border-box;
}

.gradient-text {
  background: linear-gradient(160deg, #3b82f6, #a855f7);
  -webkit-background-clip: text; /* apply background clip */
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.active-menu {
  border: 2px solid transparent;
  border-radius: 5px;
  background: linear-gradient(to right, transparent, transparent),
    linear-gradient(160deg, #3b82f6, #a855f7);
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  color: white;
  cursor: pointer;
  padding: 8px 16px;
}

.gradient-btn {
  border: 2px solid transparent;
  border-radius: 5px;
  background: linear-gradient(to right, white, white),
    linear-gradient(160deg, #a855f7, #3b82f6);
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  cursor: pointer;
  padding: 8px 16px;
}

.gradient-btn-dark {
  border: 2px solid transparent;
  border-radius: 5px;
  background: linear-gradient(to right, black, black),
    linear-gradient(160deg, #a855f7, #3b82f6);
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  cursor: pointer;
  padding: 8px 16px;
  color: white;
}

.gradient-btn:hover,
.gradient-btn-dark:hover {
  background: linear-gradient(to right, transparent, transparent),
    linear-gradient(160deg, #3b82f6, #a855f7);
  color: white;
  padding: 8px 16px;
}

.gradient-border {
  border: 2px solid transparent;
  border-radius: 5px;
  background: linear-gradient(to right, white, white),
    linear-gradient(160deg, #a855f7, #3b82f6);
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  cursor: pointer;
  padding: 8px 16px;
}

.menu-bg {
  background-image: url(./assets/menu-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0;
}

.menu-bg-dark {
  background-image: url(./assets/menu-bg-dark.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0;
}

.banner {
  background-image: url(./assets/banner.png);
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner-dark {
  background-image: url(./assets/dark-banner.png);
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.popular_destination {
  background-image: url(../src/assets/bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.popular_destination-dark {
  background-image: url(../src/assets/bg-dark.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.nav-link {
  display: inline-block;
  color: #000;
  text-decoration: none;
  position: relative;
}

.nav-link::after {
  position: absolute;
  bottom: 0;
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #000;
  transition: width 0.6s;
  right: 0;
  left: initial;
}

.nav-link:hover::after {
  width: 100%;
  right: initial;
  left: 0;
  transition: width 0.6s;
}
